#nav-bar {
    position: sticky;
}

.videoDiv {
    display: flex;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: right;
  padding: 5px 2px;
}

@media screen and (max-width: 900px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}